.story {
    display: flex;
    font-family: Rubik;
    font-size: 14px;
}

.story > img {
    height: 138px;
    width: 185px;
}

.story > .info-container {
    padding: 10px 5px;
}

.story > .info-container > p {
    margin: 10px 0 0 0;
    padding: 0px 10px;
}

.story > .info-container > p:nth-child(1) {
    font-weight: 700;
}

.story > .info-container > p:nth-child(2) {
    color: #767676;
}

.story:hover > img {
    transition: 200ms;
    border-radius: 0px 20px 0 0px;
}

.story:hover {
    cursor: pointer;
}

.story:hover > .info-container > p:nth-child(1) {
    transition: 200ms;
    color: #FF8E58;
}

/* MEDIA QUERIES -------------------------------------------------------------- */
@media (max-width: 1200px) {
    .story > img {
        height: 104px;
        width: 139px;
    }
}


@media (max-width: 300px) {
    .story {
        display: inline-block;
        padding: 0px;
    }

    .story > .info-container {
        padding: 0px;
    }

    .story > .info-container p {
        padding: 0px;
        padding-left: 0px;
        margin-left: 0px;
    }
}