.stat-logo {
    display: flex;
    align-items: center;
}

.stat-logo > img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.stat-logo > p {
    padding-left: 10px;
}

.stat-floor {
    display: flex;
    align-items: center;
}

.stat-floor > img {
    width: 16px;
    height: 16px;
    padding-bottom: 2px;
}

@media (max-width: 576px) {
    .stat-logo > img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .stat-logo > p {
        padding-top: 0px;
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    .stat-logo > p {
        font-size: 12px
    }
}