/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: #fff;
    padding-right: 20px;
    width: 100%;
  }
  
/* Navbar links */
.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 22px 14px;
    text-decoration: none;
    font-weight: 500;
  }

  /* Change the color of links on hover */
  .navbar a:hover {
    transition: 200ms;
    color: #FF5300;
    cursor: pointer;
  }

  .navbar img:hover {
    cursor: pointer;
    transition: 200ms;
    box-shadow: 0 0 5px #FF8E58;
  }

  /* Add a color to the active/current link */
.navbar > .selected {
  text-decoration:underline;
  color: #FF1300;
}

/* The dropdown-nav container */
.dropdown-nav {
  float: right;
  overflow: hidden;
  padding-top: 7px;
}

/* dropdown-nav button */
.dropdown-nav .dropbtn-nav {
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

.dropbtn-nav > img {
  height: 50px;
  width: 50px;

}


/* dropdown-nav content (hidden by default) */
.dropdown-nav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -50px;
}

/* Links inside the dropdown-nav */
.dropdown-nav-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Add a grey background color to dropdown-nav links on hover */
.dropdown-nav-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown-nav menu on hover */
.show-nav {
  display: block;
}

@media (max-width: 768px) {
  .navbar > a {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar > .dropdown-nav {
    display: none;
  }
}