.story-other {
    display: flex;
    justify-content: center;
}

.story-other > .info-container > h3 {
    margin: 40px 15px 15px;
}

.story-other > .info-container > .editor-date {
    display: flex;
}

.story-other > .info-container > .editor-date > p {
    margin: 0px 15px;
}

.story-other > .info-container > .editor-date > p:nth-child(2) {
    color: #767676
}

.story-other:hover {
    cursor: pointer;
}

.story-other:hover > img {
    transition: 200ms;
    border-radius: 0 20px 0 0;
}

.story-other:hover > .info-container > h3 {
    color: #FF8E58;
}